/*
 * @author martinec
 */
 
/* add shadow to navbar items
 */
.navbar-default .navbar-nav > li > a:hover {
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

/* header customs
 */
/*
#header .main-download-button {
  margin-bottom: 0.5em;
}
*/

#header .main-download-button:before {
  font-size: 1.2em;
}

#header #other-platforms {
  font-size: 1em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}  

#header .button.fit {
  margin: 0px;
}

#downloads .download-card {
  position: relative;
  display: block;
  margin-bottom: 1em; /*small 2em*/
}

/*
#downloads .download-title,
#downloads .download-description,
#downloads .download-button {
  width: 100%; 
}
*/

#downloads h3 {
  font-weight: bold;
}

nav.pagination {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-align: center;
    margin: 2.5em 0px;
}

nav.pagination .newer-posts,
nav.pagination .older-posts,
nav.pagination .page-number {
    font-size: 0.875em;
    display: inline-block;
    padding: 0.625em 1.25em;
    border-radius: 0.1875em;
}

nav.pagination .newer-posts,
nav.pagination .older-posts {
    border: 0.125em solid #4c4c4c;
}

nav.pagination .newer-posts:hover,
nav.pagination .older-posts:hover {
    border: 0.125em solid #f97f4f;
    color: #f97f4f;
}

nav.pagination .newer-posts.faded,
nav.pagination .older-posts.faded {
    color: gray;
    border: 0.125em solid gray;
}

nav.pagination .newer-posts.faded a,
nav.pagination .older-posts.faded a {
    color: gray;
}

nav.pagination .newer-posts .fa {
    margin-right: 0.625em;
}

nav.pagination .older-posts .fa {
    margin-left: 0.625em;
}


.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    *zoom: 1;
}

.post-list li:after,
.post-list li:before {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a>span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
        display: inline;
    }
}

.blog-tags {
  background-color: #f97f4f;
  color: #fff;
  padding-bottom: 0px;
  min-height: 9vh;
}

.blog-tags.post-navigation {
  height: 4.5em;
}

.blog-tags .navbar-nav {
  width: 100%;
  text-align: center;
  margin-right: 0;
  margin-left: 0;  
}

.blog-tags .navbar-nav > li {
  float: none;
  display: inline-block;
  padding: 0;
}

.blog-tags .navbar-nav > .active > a,
.blog-tags .navbar-nav > .active > a:hover,
.blog-tags .navbar-nav > .active > a:focus {
    color: #48494a;
    background-color: #fff;
}

.blog-tags .navbar-nav > li > a.disabled,
.blog-tags .navbar-nav > li > a:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  cursor: default;
  opacity: 0.25;
}

@media only screen and (max-width: 480px) {
  .blog-tags .navbar-nav > li > a {
      padding-right: 1px;
      padding-left: 1px;
  }
}

/* Expand fisarmonica content if JS is not available
 */
html.no-js [data-fisarmonica] [data-content] {
  max-height: 100% !important;
}

/*
 * Font Awesome small icon size
 */
.fa-sm {
	font-size:0.75em;
}

/*
 * BibTeXify publication titles
 */
span.bibtexify-title {
  font-style: italic;
}
