@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// added by martinec
///

/* About */

	#about {
		.image {
			box-shadow: unset;
		}
  }
  
	#about-features {
  
    #functions-items {
      margin-bottom: 7px;
    }

    #corpus-processing-suite {
      padding-top: 0em;

      ul.actions.piped {
       li {
          padding: 2px;
          line-height: 2em;
          @include breakpoint(small) {
            display: block;
            text-align: center;
            width: 100%;
            > * {
              width: 100%;
              margin: 0 !important;
            }
          }
        }
      }
    }

    .ug-label, .ug-badge {
      padding: 5px 7px;
      font-size: 110%;
      margin-bottom: 7px;
    }
	}
