@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// added by martinec
///

/* Screenshots */

	#screenshots {
		padding: 2em 0 2em 0;

    .slick-slider {
      margin-bottom: 0px;
    }

    .slick-initialized {
       .slick-slide {
        float: none;
        display: inline-block;
        vertical-align: middle;
      }
    }
    
		h3 {
      text-align: center;
		}
    
		// Small.
			@include breakpoint(small) {
				padding: 1em 0 1.5em 0;
        .slick-prev {
          left: 0;
        }
        
        .slick-next {
          right: 0;
        }        
			}
	}
