{% embed 'blog.html.twig' %}

{% block content %}
  {% block tabs %}    
    {% include 'partials/post-navigation.html.twig' with {'tooltip_direction':'s'} %}
  {% endblock %}
  <section id="autumn-post" class="wrapper style2">
    <main class="autumn-post-container container 75%">
        <article class="autumn-post-content post">
          <div>
              {{ content }}
          </div>
        </article>
      <div class="clearfix"></div>
    </main>
    <footer>
      <div class="container 75%">
        <div>
           {% include 'partials/last-updated.html.twig' %}
        </div>
      </div>
    </footer>
  </section>
  {% include 'partials/post-navigation.html.twig' with {'tooltip_direction':'n'} %}
{% endblock %}

{% endembed %}

